.cheader {
    display: grid;
    grid-template-columns: 36px 1fr 36px;
    grid-template-rows: 36px ;
}

.cmatrix {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 36px);
}

.cfooter {
    
}